.input {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.button-yes {
  top: 85vh;
  left: 20vw;
}

.button-no {
  padding: "10px 20px";
  background-color: "red" !important;
  color: "white";
  border: "none";
  border-radius: "5px";
  cursor: "pointer";
  z-index: 20;
  padding-right: 20px;
}
