@font-face {
  font-family: Scriptina;
  src: url("./fonts/scriptina_pro/Scriptina Pro.otf");
}

.loading {
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  margin-left: 30px;
}

.loading h1 {
  font-family: Scriptina;
  font-size: 40px;
  font-weight: bold;
}
