@font-face {
  font-family: kk;
  src: url("./fonts/FVFFernando08/FVFFernando08.ttf");
}

.message {
  display: flex;
  font-family: kk;
  font-size: 40px;
  width: 75vw;
  height: 75vh;
  border: 1cap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
